

{% extends "layout/layout.html" %}
{% block all_contents %}
{% load static %}

  <!--/inner-page-->

  <div class="inner-banner">
  </div>
  <section class="w3l-breadcrumb">
    <div class="container">
      <ul class="breadcrumbs-custom-path">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> About Us</li>
      </ul>
    </div>
  </section>
  <!--//inner-page-->
  <!-- about page about section -->
  <section class="w3l-index3" id="about">
    <div class="midd-w3 py-5">
      <div class="container py-lg-5 py-md-3">
        <div class="w3l-header-sec text-center mb-4">
          <h6 class="title-subhny mx-0">Our Story</h6>
          <h3 class="title-w3l mx-0">About Us</h3>
        </div>
        <div class="aboutw3l-hny text-center">
            <p>It is the best quality result oriented professional space of an expert team of 
                Software developers and Designers. The team has expertise in working with 
                multiple National-International companies in developing the soft wares and 
                websites with impactful results.

                We stand for our customers with a potential team where the intelligence coupled 
                with creativity and spontaneity.</p>
            <a class="btn btn-style btn-primary mt-sm-5 mt-4 mr-2" href="about.html"> Read More</a>
          </div>
        </div>
      </div>
  </section>
    <!-- home page block grids -->
    <section class="w3l-grids-3 py-5" id="why">
      <div class="container py-lg-5 py-md-4 py-2">
        <div class="row bottom-ab-grids">
          <div class="col-lg-4 bottom-ab-left align-self">
    
            <h4 class="sub-title-w3l mb-4">Masterful engineer of enchanting technology</h4>
            <p class="">An architect who is passionate about designing captivating 
                technology would need to possess a combination of technical expertise, 
                creative thinking, and user-centered design skills. </p>
            <ul class="cont-4 mt-4">
              <li><span class="fa fa-check"></span> Business Consulting</li>
              <li><span class="fa fa-check"></span> Mobile Development</li>
              <li><span class="fa fa-check"></span> Web Development</li>
            </ul>
          </div>
          <div class="col-lg-4 bottom-right-grids pl-lg-5 mt-lg-0 mt-5">
            <img src="{% static 'assets/images/ab2.png' %}" alt="" class="radius-image img-fluid">
  
          </div>
          <div class="col-lg-4 bottom-right-grids pl-lg-5 mt-lg-0 mt-5">
            <img src="{% static 'assets/images/ab1.png' %}" alt="" class="radius-image img-fluid">
  
          </div>
        </div>
      </div>
    </section>
    <!-- //home page block grids -->
  <!-- //about page about section -->
  <section class="w3l-index2 w3l-stats" id="about2">
    <div class="midd-w3 what-we py-5">
      <div class="container py-lg-5 py-md-4 py-2">
        <div class="row">
          <div class="col-lg-4 left-wthree-img">
            <h5 class="title-w3l-two mb-4">A Right Architect to Enchanting Technology</h5>
           
              <!-- <a href="about.html" class="btn btn-style btn-primary mt-4">Read More</a> -->
          </div>
          <div class="col-lg-4 mt-lg-0 mt-5 pl-lg-5 align-self">
            <p class="">A team of excellence in software development designing with a 
                goal to meet the expectations of today’s digital world in the form of 
                highest quality, efficacy and valued customer satisfaction.
            </p>
            
          </div>
          <div class="col-lg-4 mt-lg-0 mt-5 pl-lg-5 align-self">
            <p class="">The team has expertise in working with multiple National-International 
                companies in developing the soft wares and websites with impactful results.
            </p>

          </div>
        </div>
      </div>
    </div>
  </section>

  <!--/team-->
  <!-- <section class="w3l-team py-5" id="team">
    <div class="container py-lg-5 py-md-4 py-2">
      <div class="w3l-header-sec text-center mb-lg-5 mb-4">
        <h6 class="title-subhny mx-0">Our Team</h6>
        <h3 class="title-w3l mx-0">Expert Team</h3>
      </div>
      <div class="row bottom-ab-grids">
        <div class="col-lg-3 col-md-6 team-info text-center mt-lg-0 mt-5">
          <div class="column position-relative">
            <a href="#url"><img src="assets/images/team1.jpg" alt="" class="img-fluid rounded team-image" /></a>
          </div>
          <div class="column">
            <h3 class="name-pos"><a href="#url">Muhammed Anas</a></h3>
            <p>Backend Developer</p>
            <div class="social">
              <a href="#facebook" class="facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
              <a href="#twitter" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
              <a href="#linkedin" class="linkedin"><span class="fa fa-linkedin" aria-hidden="true"></span></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6  team-info text-center mt-lg-0 mt-5">
          <div class="column position-relative">
            <a href="#url"><img src="assets/images/team2.jpg" alt="" class="img-fluid rounded team-image" /></a>
          </div>
          <div class="column">
            <h3 class="name-pos"><a href="#url">Jane West</a></h3>
            <p>Hair Specialist</p>
            <div class="social">
              <a href="#facebook" class="facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
              <a href="#twitter" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
              <a href="#linkedin" class="linkedin"><span class="fa fa-linkedin" aria-hidden="true"></span></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6  team-info text-center  mt-lg-0 mt-5">
          <div class="column position-relative">
            <a href="#url"><img src="assets/images/team3.jpg" alt="" class="img-fluid rounded team-image" /></a>
          </div>
          <div class="column">
            <h3 class="name-pos"><a href="#url">Michael Green</a></h3>
            <p>Hair Specialist</p>
            <div class="social">
              <a href="#facebook" class="facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
              <a href="#twitter" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
              <a href="#linkedin" class="linkedin"><span class="fa fa-linkedin" aria-hidden="true"></span></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6  team-info text-center mt-lg-0 mt-5">
          <div class="column position-relative">
            <a href="#url"><img src="assets/images/team4.jpg" alt="" class="img-fluid rounded team-image" /></a>
          </div>
          <div class="column">
            <h3 class="name-pos"><a href="#url">Laura Green</a></h3>
            <p>Hair Specialist</p>
            <div class="social">
              <a href="#facebook" class="facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
              <a href="#twitter" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
              <a href="#linkedin" class="linkedin"><span class="fa fa-linkedin" aria-hidden="true"></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <!--//team-->

  {% endblock %}

  <!-- move top -->
  <button onclick="topFunction()" id="movetop" title="Go to top">
    &#10548;
  </button>
  <script>
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () {
      scrollFunction()
    };

    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("movetop").style.display = "block";
      } else {
        document.getElementById("movetop").style.display = "none";
      }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }
  </script>
  <!-- /move top -->
</footer>

<!-- //copyright -->
<!-- Template JavaScript -->
<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/theme-change.js"></script>
<!--search-bar-->
<script src="assets/js/search.js"></script>
<!--//search-bar-->
<!--/MENU-JS-->
<script>
  $(window).on("scroll", function () {
    var scroll = $(window).scrollTop();

    if (scroll >= 80) {
      $("#site-header").addClass("nav-fixed");
    } else {
      $("#site-header").removeClass("nav-fixed");
    }
  });

  //Main navigation Active Class Add Remove
  $(".navbar-toggler").on("click", function () {
    $("header").toggleClass("active");
  });
  $(document).on("ready", function () {
    if ($(window).width() > 991) {
      $("header").removeClass("active");
    }
    $(window).on("resize", function () {
      if ($(window).width() > 991) {
        $("header").removeClass("active");
      }
    });
  });
</script>
<!--//MENU-JS-->

<script src="assets/js/bootstrap.min.js"></script>

</body>

</html>
