{% extends "layout/layout.html" %}
{% block all_contents %}
{% load static %}

<div class="contact-banner">
</div>
 <!-- /contact-section -->
<section class="w3l-contact-2 py-5" id="contact">
  <div class="container py-lg-5 py-md-4 py-2">
    <div class="w3l-header-sec text-center mb-md-5 mb-4">
      <h6 class="title-subhny mx-0">Send Us Message</h6>
      <h3 class="title-w3l mx-0">Contact Us</h3>
    </div>
      <div class="contact-grids d-grid">
          <div class="contact-left-img">
            <img src="{% static 'assets/images/b1.png' %}" class="img-fluid radius-image" alt="">
          </div>
          <div class="contact-right">
              <form method="post" class="signin-form">
          {% include 'massages/massages.html' %}
                {% csrf_token %}
                  <div class="input-grids">

                      <input type="text" name="name" id="w3lName" placeholder="Your Name*" class="contact-input"
                          required="" />
                      <input type="email" name="email" id="w3lSender" placeholder="Your Email*"
                          class="contact-input" required="" />
                  </div>
                  <input type="text" name="subject" id="w3lSubect" placeholder="Subject*" class="contact-input"
                  required="" />
                  <div class="form-input">
                      <textarea name="message" id="message" placeholder="Type your message here*"
                          required=""></textarea>
                  </div>
                  <div class=" text-lg-right">
                      <button class="btn btn-style btn-primary" type="submit">Send Message</button>
                  </div>
              </form>
          </div>
      </div>

      <div class="contact-left mt-5 pt-lg-5">
        <div class="w3l-header-sec text-center mb-md-5 mb-4">
          <h6 class="title-subhny mx-0">Find Us</h6>
          <h3 class="title-w3l mx-0">Address Info</h3>
        </div>
        <div class="cont-details">
            <div class="cont-top margin-up">
                <div class="cont-left text-center">
                    <span class="fa fa-map-marker"></span>
                </div>
                <div class="cont-right">
                    <h6>Company Address</h6>
                    <p>14/291 N, Suite 650, A Square, Edathala P O, Kochi, Kerala 683561.</p>
                </div>
            </div>
            <div class="cont-top margin-up">
                <div class="cont-left text-center">
                    <span class="fa fa-phone"></span>
                </div>
                <div class="cont-right">
                    <h6>Call Us</h6>
                    <p><a href="tel:+91 9567595588">+91 9567595588</a></p>
                    <p><a href="tel:+91 9567515588">+91 9567515588</a></p>
                </div>
            </div>
            <div class="cont-top margin-up">
                <div class="cont-left text-center">
                    <span class="fa fa-envelope-o"></span>
                </div>
                <div class="cont-right">
                    <h6>Email Us</h6>
                    <p><a href="mailto:info@swynfords.com" class="mail">info@swynfords.com</a></p>
                    
                </div>
            </div>
            <!-- <div class="cont-top margin-up">
                <div class="cont-left text-center">
                    <span class="fa fa-life-ring"></span>
                </div>
                <div class="cont-right">
                    <h6>Customer Support</h6>
                    <p><a href="mailto:info@support.com" class="mail">info@support.com</a></p>
                    <p><a href="mailto:info@support2.com" class="mail">info@support2.com</a></p>
                </div>
            </div> -->
        </div>
        </div>

        <div class="map-iframe mt-5">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3928.5770016471424!2d76.36731901376241!3d10.051720874902028!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b080b2101cedced%3A0x6b62adc193fd7bfa!2sSwynfords%20Private%20Limited!5e0!3m2!1sen!2sin!4v1677783076612!5m2!1sen!2sin" 
            width="100%" height="400" frameborder="0" style="border: 0px;" allowfullscreen=""></iframe>
             
            </div>
    </div>
</section>

{% endblock %}
